.loading-container {
  position: fixed;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-container .loading-spin {
  border: 4px solid;
  animation-duration: 3s;
  animation-name: loading;
  animation-iteration-count: infinite;
}
@keyframes loading {
  0% {
    transform: rotate(45deg);
    border-radius: 5px;
    border-color: rgb(103, 3, 143);
    width: 84px;
    height: 84px;
  }
  17% {
    transform: rotate(360deg);
    border-radius: 18px;
    border-color:  rgb(103, 3, 143);
    width: 59.64px;
    height: 59.64px;
  }
  34% {
    transform: rotate(650deg);
    border-radius: 100px;
    border-color: rgb(103, 3, 143);
    width: 47.88px;
    height: 23.52px;
  }
  51% {
    transform: rotate(800deg);
    border-radius: 50%;
    border-color:  rgb(103, 3, 143);
    width: 23.52px;
    height: 23.52px;
  }
  68% {
    transform: rotate(650deg);
    border-radius: 100px;
    border-color:  rgb(103, 3, 143);
    width: 47.88px;
    height: 23.52px;
  }
  85% {
    transform: rotate(360deg);
    border-radius: 18px;
    border-color: rgb(103, 3, 143);
    width: 59.64px;
    height: 59.64px;
  }
  100% {
    transform: rotate(45deg);
    border-radius: 5px;
    border-color:  rgb(103, 3, 143);
    width: 84px;
    height: 84px;
  }
}